<article class="post-entry">
  <header class="post-header">
    <h3 class="post-title"><a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a></h3>
	<p class="post-meta">@{{ .Site.Params.author }} · {{ .Date.Format "Jan 2, 2006" }} · {{ .ReadingTime }} min read</p>
	{{ if .Params.tags }}
	<ul class="article-tag-list">
	  {{ range $tag := .Params.tags }}
	  <li class="article-tag-list-item">
	  	<a class="article-tag-list-link" href="/tags/{{ $tag | urlize }}"><span class="tag">{{ $tag | title }}</span></a>
	  </li>
	  {{ end }}
	</ul>
	{{ end }}
  </header>
  <br />
  {{ if isset .Params "cover" }}
    <img class="post-cover" src="{{ .Params.cover }}" alt="{{ .Title }}" lazyload="on">
  {{ end }}
  <p class="post-summary">{{ .Summary | plainify | htmlUnescape }}</p>
  <!-- By nanamisawa -->
	<style>
	.post-summary{
	    height: 50px;
	    overflow: hidden;
	}
	</style>
  <!-- By nanamisawa -->
  <footer class="post-footer">
	<a class="read-more" href="{{ .Permalink }}">Read More →</a>
  </footer>
</article>
